<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<div>
    <h1>Write a Blog Post</h1>
</div>

<div>
<form method="post">
    <div class="form-group">
        <label>Blog Post Title
            <input th:field="${blogpost.title}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Write your blog post here
            <textarea th:field="${blogpost.body}" class="form-control"></textarea>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Post it!" class="btn btn-success">
    </div>
</form>
</div>


<nav th:replace="fragments :: navigation"></nav>
</body>
</html>