<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<header class="w3-container w3-center w3-padding-32">
    <p>Welcome to the blog of <span class="w3-tag" th:text="${username}"></span></p>
</header>

<!-- TODO: make it so you can see if a post has been edited -->
<div class="w3-col l8 s12">
    <div class="w3-card-4 w3-margin w3-white" th:each="blogpost : ${blogposts}">
        <div class="w3-container">
            <div><a th:href="@{'/users/post/' + ${blogpost.id}}"><h3 th:text="${blogpost.title}"></h3></a></div>
        <span th:if="${isSameUser}">
            <button>
                <a th:href="@{'/blogposts/edit/' + ${blogpost.id}}">Edit</a>
            </button>
            <button>
                <a th:href="@{'/blogposts/delete/' + ${blogpost.id}}">Delete</a>
            </button>
        </span>
        <h5 class="w3-opacity" th:text="${blogpost.submission_date}"></h5>
        </div>
        <div class="w3-container">
            <p th:text="${blogpost.body}"></p>
        </div>
    </div>
</div>

</body>
</html>