<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<!-- Head fragment -->
<head th:fragment="head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kenny Maness</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<!-- -->

<body>

<!-- Navigation fragment -->
<nav th:fragment="navigation">
    <div class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <a class="nav-link" href="/">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Home</button>
        </a>

        <a class="nav-link" href="/login">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Login</button>
        </a>

        <a class="nav-link" href="/logout">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Logout</button>
        </a>

        <a class="nav-link" href="/users">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">All Users</button>
        </a>

        <a class="nav-link" href="/blogposts">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">All Blog Posts</button>
        </a>

        <a class="nav-link" href="/blogposts/create">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Write a Blog Post</button>
        </a>

    </div>
</nav>
<!-- -->

</body>
</html>