<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<!-- Head fragment -->
<head th:fragment="head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kenny Maness</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<!-- -->

<body>

<!-- Navigation fragment -->
<nav th:fragment="navigation">
    <div class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a class="nav-link" href="/">Home</a></button>

        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a class="nav-link" href="/login">Login</a></button>

        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a class="nav-link" href="/logout">Logout</a></button>

        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a class="nav-link" href="/users">All Users</a></button>

        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a class="nav-link" href="/blogposts">All Blog Posts</a></button>

        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a class="nav-link" href="/blogposts/create">Write a Blog Post</a></button>

    </div>
</nav>
<!-- -->

</body>
</html>