<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<!-- Head fragment -->
<head th:fragment="head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kenny Maness</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<!-- -->

<body>

<!-- Navigation fragment -->
<nav th:fragment="navigation">
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a class="w3-button w3-black" href="/">Home</a>
            <a class="w3-button w3-black" href="/login">Login</a>
            <a class="w3-button w3-black" href="/logout">Logout</a>
            <a class="w3-button w3-black" href="/users">All Users</a>
            <a class="w3-button w3-black" href="/blogposts">The Blog</a>
            <a class="w3-button w3-black" href="/blogposts/create">Write a Post</a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a class="w3-button w3-black" href="/">Home</a>
            <a class="w3-button w3-black" href="/login">Login</a>
            <a class="w3-button w3-black" href="/logout">Logout</a>
            <a class="w3-button w3-black" href="/users">All Users</a>
            <a class="w3-button w3-black" href="/blogposts">The Blog</a>
            <a class="w3-button w3-black" href="/blogposts/create">Write a Post</a>
        </div>
    </div>
</nav>
<!-- -->

</body>
</html>